name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd gym_frontend/client
          npm install

      - name: Build project
        run: |
          cd gym_frontend/client
          npm run build

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectBaseDir: gym_frontend/client
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
