name: SonarCloud Frontend

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: gym_frontend/client
        run: npm install

      - name: Build project
        working-directory: gym_frontend/client
        run: npm run build

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          projectBaseDir: gym_frontend/client
          args: >
            -Dsonar.projectKey=Thirupathi-17_gym_frontend
            -Dsonar.organization=thirupathi-17
            -Dsonar.host.url=https://sonarcloud.io
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
