name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonar:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd gym_frontend/client
          npm install

      - name: Build project
        run: |
          cd gym_frontend/client
          npm run build

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5
        with:
          projectBaseDir: gym_frontend/client
          args: >
            -Dsonar.projectKey=Thirupathi-17_gym_frontend
            -Dsonar.organization=thirupathi-17
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
